In [1]:
import pandas as pd
import cwrangle as cw

In [2]:
violence = pd.read_csv('d3data/usa2017.csv')

In [3]:
l = []
for i in range(14):
    l.append('p18_' + str(i + 1))

In [4]:
l.append('p19_1e')
l.append('p19_2e')
l.append('p20e')

In [1]:
violence.to_csv('d3data/violence.csv')

NameError: name 'violence' is not defined

In [50]:
df = cw.read_csv('d3data/usa2017.csv', 'Values/ValoresUSA2017.csv', 'Variable', l)

In [51]:
df.head()

,p18_1,p18_2,p18_3,p18_4,p18_5,p18_6,p18_7,p18_8,p18_9,p18_10,p18_11,p18_12,p18_13,p18_14,p19_1e,p19_2e,p20e
0,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Puebla,San Luis Potosí,Nuevo León
1,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Tamaulipas,Chiapas,Tamaulipas
2,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Distrito Federal,Nuevo León,Nuevo León
3,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Puebla,Nuevo León,Puebla
4,Sí,No,No,No,No,No,No,No,No,No,No,No,No,No,Distrito Federal,Chiapas,Nuevo León

In [52]:
to_count = df.replace(['No', 'No sabe', 'No responde', 'Sí', 'No especificado'], [0,0,0,1,0])

In [53]:
to_count['sum'] = to_count.sum(axis=1)

In [54]:
to_use = to_count.iloc[:,14:]

In [55]:
to_use['sum'].value_counts()

0     3526
1      390
2      304
3       93
4       23
6       10
5        8
9        5
7        4
10       4
8        4
Name: sum, dtype: int64

In [56]:
ok = to_use.melt(id_vars=['sum'])

In [57]:
ok.head()

   sum variable             value
0    0   p19_1e            Puebla
1    0   p19_1e        Tamaulipas
2    0   p19_1e  Distrito Federal
3    0   p19_1e            Puebla
4    1   p19_1e  Distrito Federal

In [61]:
nex = ok[ok.value != 'No especificado']
nex2 = ok[ok.value != 0]

In [64]:
this = nex2.groupby('value')['sum'].agg('sum')

In [65]:
this

value
Aguascalientes                        4
Baja California                      58
Baja California Sur                   0
Campeche                              0
Chiapas                             724
Chihuahua                            84
Coahuila de Zaragoza                 74
Colima                                2
Distrito Federal                    356
Durango                               8
Guanajuato                           29
Guerrero                              5
Hidalgo                               0
Jalisco                              54
Michoacán de Ocampo                   4
Morelos                               1
México                               46
Nayarit                               3
Nuevo León                          274
Oaxaca                               79
Puebla                              155
Querétaro                             1
Quintana Roo                          9
San Luis Potosí                     110
Sinaloa                               6
Sonora                              246
Tabasco                             248
Tamaulipas                         1341
Tlaxcala                              1
Veracruz de Ignacio de la Llave     601
Yucatán                               1
Zacatecas                            15
Name: sum, dtype: int64

In [66]:
values = nex2['value'].value_counts()

In [70]:
values

Tamaulipas                         3438
Chiapas                            2077
Veracruz de Ignacio de la Llave    1107
Nuevo León                         1003
Sonora                              885
Distrito Federal                    861
Tabasco                             574
Puebla                              568
Chihuahua                           302
Baja California                     224
San Luis Potosí                     212
Oaxaca                              199
Coahuila de Zaragoza                175
México                              167
Jalisco                             121
Guanajuato                           83
Querétaro                            65
Durango                              34
Sinaloa                              32
Quintana Roo                         24
Guerrero                             23
Zacatecas                            13
Hidalgo                              11
Aguascalientes                       10
Nayarit                               7
Michoacán de Ocampo                   6
Campeche                              5
Yucatán                               4
Morelos                               3
Colima                                3
Baja California Sur                   1
Tlaxcala                              1
Name: value, dtype: int64

In [72]:
vals = values.replace([1, 3, 4, 5, 6, 7, 10, 11, 13], 0)

In [74]:
final = this / vals

In [81]:
final = final.to_frame()

In [82]:
import numpy as np
final = final.replace([np.inf, -np.inf, np.nan], 0)

In [9]:
vio.to_csv('d3data/violence.csv')

In [2]:
vio = pd.read_csv('d3data/violence.csv')

In [10]:
vio = vio.rename(columns = {'Unnamed: 0': 'Index'})

In [5]:
vio = vio.replace({'Coahuila de Zaragoza': 'Coahuila', 'Michoacán de Ocampo': 'Michoacán', 'Veracruz de Ignacio de la Llave':'Veracruz'})

In [8]:
vio = vio.iloc[:, 2:]

In [9]:
vio = vio.rename(columns = {'Unnamed: 0':'State', '0':'Percentage'})