In [1]:
import pandas as pd
import cwrangle as cw

In [2]:
violence = pd.read_csv('d3data/usa2017.csv')

In [3]:
l = []
for i in range(14):
    l.append('p18_' + str(i + 1))

In [4]:
l.append('p19_1e')
l.append('p19_2e')
l.append('p20e')

In [1]:
violence.to_csv('d3data/violence.csv')

NameError: name 'violence' is not defined

In [5]:
df = cw.read_csv('d3data/usa2017.csv', 'Values/ValoresUSA2017.csv', 'Variable', l)

In [6]:
df.head()

,p18_1,p18_2,p18_3,p18_4,p18_5,p18_6,p18_7,p18_8,p18_9,p18_10,p18_11,p18_12,p18_13,p18_14,p19_1e,p19_2e,p20e
0,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Puebla,San Luis Potosí,Nuevo León
1,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Tamaulipas,Chiapas,Tamaulipas
2,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Distrito Federal,Nuevo León,Nuevo León
3,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Puebla,Nuevo León,Puebla
4,Sí,No,No,No,No,No,No,No,No,No,No,No,No,No,Distrito Federal,Chiapas,Nuevo León

In [7]:
to_count = df.replace(['No', 'No sabe', 'No responde', 'Sí', 'No especificado'], [0,0,0,1,0])

In [8]:
to_count['sum'] = to_count.sum(axis=1)

In [9]:
to_use = to_count.iloc[:,14:]

In [10]:
to_use['sum'].value_counts()

0     3526
1      390
2      304
3       93
4       23
6       10
5        8
9        5
7        4
10       4
8        4
Name: sum, dtype: int64

In [11]:
ok = to_use.melt(id_vars=['sum'])

In [12]:
ok.head()

   sum variable             value
0    0   p19_1e            Puebla
1    0   p19_1e        Tamaulipas
2    0   p19_1e  Distrito Federal
3    0   p19_1e            Puebla
4    1   p19_1e  Distrito Federal

In [13]:
nex = ok[ok.value != 'No especificado']
nex2 = ok[ok.value != 0]

In [14]:
this = nex2.groupby('value')['sum'].agg('sum')

In [15]:
this

value
Aguascalientes                        4
Baja California                      58
Baja California Sur                   0
Campeche                              0
Chiapas                             724
Chihuahua                            84
Coahuila de Zaragoza                 74
Colima                                2
Distrito Federal                    356
Durango                               8
Guanajuato                           29
Guerrero                              5
Hidalgo                               0
Jalisco                              54
Michoacán de Ocampo                   4
Morelos                               1
México                               46
Nayarit                               3
Nuevo León                          274
Oaxaca                               79
Puebla                              155
Querétaro                             1
Quintana Roo                          9
San Luis Potosí                     110
Sinaloa                               6
Sonora                              246
Tabasco                             248
Tamaulipas                         1341
Tlaxcala                              1
Veracruz de Ignacio de la Llave     601
Yucatán                               1
Zacatecas                            15
Name: sum, dtype: int64

In [16]:
values = nex2['value'].value_counts()

In [17]:
values

Tamaulipas                         3438
Chiapas                            2077
Veracruz de Ignacio de la Llave    1107
Nuevo León                         1003
Sonora                              885
Distrito Federal                    861
Tabasco                             574
Puebla                              568
Chihuahua                           302
Baja California                     224
San Luis Potosí                     212
Oaxaca                              199
Coahuila de Zaragoza                175
México                              167
Jalisco                             121
Guanajuato                           83
Querétaro                            65
Durango                              34
Sinaloa                              32
Quintana Roo                         24
Guerrero                             23
Zacatecas                            13
Hidalgo                              11
Aguascalientes                       10
Nayarit                               7
Michoacán de Ocampo                   6
Campeche                              5
Yucatán                               4
Colima                                3
Morelos                               3
Baja California Sur                   1
Tlaxcala                              1
Name: value, dtype: int64

In [18]:
vals = values.replace([1, 3, 4, 5, 6, 7, 10, 11, 13], 0)

In [19]:
final = this / vals

In [20]:
final = final.to_frame()

In [21]:
import numpy as np
final = final.replace([np.inf, -np.inf, np.nan], 0)

In [24]:
final.round(3)

                                     0
Aguascalientes                   0.000
Baja California                  0.259
Baja California Sur              0.000
Campeche                         0.000
Chiapas                          0.349
Chihuahua                        0.278
Coahuila de Zaragoza             0.423
Colima                           0.000
Distrito Federal                 0.413
Durango                          0.235
Guanajuato                       0.349
Guerrero                         0.217
Hidalgo                          0.000
Jalisco                          0.446
Michoacán de Ocampo              0.000
Morelos                          0.000
México                           0.275
Nayarit                          0.000
Nuevo León                       0.273
Oaxaca                           0.397
Puebla                           0.273
Querétaro                        0.015
Quintana Roo                     0.375
San Luis Potosí                  0.519
Sinaloa                          0.188
Sonora                           0.278
Tabasco                          0.432
Tamaulipas                       0.390
Tlaxcala                         0.000
Veracruz de Ignacio de la Llave  0.543
Yucatán                          0.000
Zacatecas                        0.000

In [26]:
final.to_csv('d3data/violence.csv')

In [27]:
vio = pd.read_csv('d3data/violence.csv')

In [28]:
vio = vio.rename(columns = {'Unnamed: 0': 'Index'})

In [29]:
vio = vio.replace({'Coahuila de Zaragoza': 'Coahuila', 'Michoacán de Ocampo': 'Michoacán', 'Veracruz de Ignacio de la Llave':'Veracruz'})

In [30]:
vio

                  Index         0
0        Aguascalientes  0.000000
1       Baja California  0.258929
2   Baja California Sur  0.000000
3              Campeche  0.000000
4               Chiapas  0.348580
5             Chihuahua  0.278146
6              Coahuila  0.422857
7                Colima  0.000000
8      Distrito Federal  0.413473
9               Durango  0.235294
10           Guanajuato  0.349398
11             Guerrero  0.217391
12              Hidalgo  0.000000
13              Jalisco  0.446281
14            Michoacán  0.000000
15              Morelos  0.000000
16               México  0.275449
17              Nayarit  0.000000
18           Nuevo León  0.273180
19               Oaxaca  0.396985
20               Puebla  0.272887
21            Querétaro  0.015385
22         Quintana Roo  0.375000
23      San Luis Potosí  0.518868
24              Sinaloa  0.187500
25               Sonora  0.277966
26              Tabasco  0.432056
27           Tamaulipas  0.390052
28             Tlaxcala  0.000000
29             Veracruz  0.542909
30              Yucatán  0.000000
31            Zacatecas  0.000000

In [8]:
vio = vio.iloc[:, 2:]

In [9]:
vio = vio.rename(columns = {'Unnamed: 0':'State', '0':'Percentage'})